.habbitCheckBoard > *{
    background-color: #FFFDFA !important;
}

.habbitCheckBoard > header{
    text-align: center;
    font-family: 'hopang';
    font-size: 25px;
}

.habbitCheckBoard > li{
    list-style: none;
    display: flex;
    flex-direction: row;
}