@font-face {
    font-family: 'lemon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceLemon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
  font-family: 'changwon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  background-color: #FCF6EC;
}

.Page-header>header{
  line-height: 40px;
  position: relative;
  top: 10px;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#upper{
  text-align: center;
  font-family: 'lemon';
  font-size: 30px;
  word-spacing: 1em;
  position: relative;
  left: 20px;
  line-height: 20px;
}

#under{
  text-align: center;
  font-family: 'changwon';
  font-size: 45px;
  
}

#orange{
  color: #F66B4C;
}

.checkImg{
  position: relative;
  left: 42%;
  width: 45px;
  height: 60px;
  order: -1
}

.Page-header>hr{
  position: relative;
  border: solid 1.5px;
  color: rgb(0, 0, 0, 0.5) ;
  margin-top: 15px;
}

.Page-header button{
  border-style: none;
}

.menuImg{
  width: 30px;
  height: 20px;
  margin-left: 10px;
}

.title{
  position: relative;
  left: 42%;
  }


.logoutB{
  position: fixed;
  left: 95%;
  top: 29px;
  
  font-family: 'Pretendard-Bold';
  font-size: 16px;
  border-style: none;
  color: #F66B4C;

  
}

