.noneImg{
    width: 23em;
    
    position: relative;
    left: 36%;
    top: 30px;
}

.choiceTodoS{
    font-family: 'hopang';
    font-size: 30px;
    text-align: center;
    margin-top: 10px;

    color: #655D5D;
    text-decoration-line: underline;
}

.mainPage2>p{
    font-family: 'hopang';
    font-size: 16px;
    text-align: center;
    margin-top: -10px;

    color: #BCB1B1;
}
