.mainFooter{
    margin-top: 57px;
    height: 130px;
    border: 2px solid #D9D9D9;
    background-color: #D9D9D9;
}

.mainpageB1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img1{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.calImg{
    position: relative;
    width: 355px;
    height: 394px;
    cursor: pointer;
    margin-top: 10px;
}

.studypImg{
    position: relative;
    width: 587px;
    height: 773px;
    margin-right: 50px;
    cursor: pointer;
}

.bTodoImg{
    position: relative;
    width: 303px;
    height: 773px;
    cursor: pointer;
}

.timeTImg{
    position: relative;
    width: 355px;
    height: 369px;
    cursor: pointer;
    box-shadow: 3px 5px 5px 0px #b1afaf;
}