@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.basicTodo li{
    list-style-type: none;
    display: flex;
    justify-content: center;

    position: relative;
    top: 20px;
    margin: 0px;
    padding: 0px;
}

.borders{
    border: 2px solid black;
    border-bottom: 2px solid #9a9393;
}

