@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.basicTodo *{
    background-color: #FFFDFA !important;
}

.todoDelB{
    position: relative;
    border: none;
    left: 87%;
    cursor: pointer;
}

.todoDelImg{
    position: relative;
    width: 25px;
    height: 25px;
    left: 94%;
    top: 10px
}

.basicTodo li{
    list-style-type: none;
    display: flex;
    justify-content: center;

    position: relative;
    top: 20px;
    margin: 0px;
    padding: 0px;
}

.borders{
    border: none;
    overflow: auto;
    height: 1028px;

}

.basicTodo{
    position:absolute;
    left: 480px;
    top: 17%;
    width: 500px;
    box-shadow: 3px 5px 5px 0px #b1afaf;
}

