.habbitBoard, .habbitBoard *{
    background-color: #FFFDFA !important;
}

.habbitBoard{
    display: grid;
    grid-template-rows: repeat(3, 1fr)
    grid-
    
}

.habbitHeader > .title{
    font-family: 'hopang';
    font-size: 30px;
    color: #3D3B3B;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.habbitBoard label{
    font-family: 'hopang';
    font-size: 20px;
    color: #BCB1B1;

    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.habbitBoard button {
    border-style: none;

    display: flex;
    flex-direction: row;
}

.habbitBoard img{
    width: 30px;
}

.habbitHeader > .habbitAddB{
    position: relative;
    left: 92%;
    margin-top: -75px;
}

.habbitHeader > .habbitDelB{
    position: relative;
    left: 96%;
    margin-top: -32px;
}

.habbitButtons{
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}