.habbitBoard, .habbitBoard *{
    background-color: #FFFDFA !important;
}

.habbitBoard{
    position: relative;
    width: 470px;
    left: 67%;
    top: -641px;
    height: 1028px;
    overflow: auto;
    border: none;
    box-shadow: 3px 5px 5px 0px #b1afaf;
}

.habbitHeader > .title{
    font-family: 'hopang';
    font-size: 20px;
    color: #3D3B3B;

    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.habbitBoard label{
    font-family: 'hopang';
    font-size: 20px;
    color: #BCB1B1;

    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.habbitBoard button {
    border-style: none;

    display: flex;
    flex-direction: row;
}

.habbitBoard img{
    width: 27px;
}

.habbitHeader > .habbitAddB{
    position: relative;
    left: 82%;
    margin-top: -70px;
}

.habbitHeader > .habbitDelB{
    position: relative;
    left: 90.5%;
    margin-top: -29px;
}

.habbitButtons{
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
}