.todoWrite{
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    text-align: left;
    width: 90%;
    border: none;
}

.done{
    border-style: none;
    font-size: 20px;

    display: flex;
    align-items: center;
}