.todoWrite{
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    text-align: left;
    width: 90%;
    border: none;
    background-color: #FFFDFA !important;
    }

.checkB{
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 1px solid #d9d9d9 !important;
    background-color: #d9d9d9 !important;
}

.checkB:checked{
    border: 1px solid #F66B4C !important;
    background-color: #F66B4C !important;
}

.done{
    border-style: none;
    font-size: 20px;

    display: flex;
    align-items: center;
}